@import "@styles/colors.module.scss";

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;

  .ripple {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $white50;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }
}

.primary {
  @extend %button;

  color: $white;

  @media (hover: none) {
    &:active {
      background: $gradientHover;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $gradientAccent;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $gradientHover;
    transition: opacity 0.3s;
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      &::after {
        opacity: 0;
      }
    }
  }

  &:disabled,
  &.disabled {
    &::before,
    &::after {
      opacity: 0;
    }

    background: $gradientBlocked;
    color: $white30;
  }
}

.soft {
  @extend %button;

  color: $white;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $grayMedium;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $white30;
    transition: opacity 0.3s;
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &:active {
      &::after {
        opacity: 0;
      }
    }
  }

  &:disabled,
  &.disabled {
    &::before,
    &::after {
      opacity: 0;
    }

    background: $gradientWhite50;
    color: $white30;
  }
}
