@import "@styles/colors.module.scss";

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  width: unset;
  height: unset;
  z-index: 0;
  cursor: pointer;

  &:disabled,
  &.disabled {
    cursor: default;
  }
}

.primary {
  @extend %button;

  color: $white;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $gradientAccent;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $gradientHover;
    transition: 0.3s ease-out;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0;
    }
  }

  &:disabled,
  &.disabled {
    &::before,
    &::after {
      opacity: 0;
    }

    background: $gradientBlocked;
    color: $white30;
  }
}

.soft {
  @extend %button;

  color: $white;

  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $grayMedium;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $white30;
    transition: 0.3s ease-out;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0;
    }
  }

  &:disabled,
  &.disabled {
    &::before,
    &::after {
      opacity: 0;
    }

    background: $gradientWhite50;
    color: $white30;
  }
}
