@import "@styles/icons.module.scss";
@import "@styles/colors.module.scss";

.todoList {
  display: flex;
  flex-direction: column;
  margin: 40px auto;

  .title {
    font-size: 22px;
  }

  .todoHead {
    display: flex;
    flex-direction: column;
    width: 100%;

    .titleContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .distribution {
        margin-left: 10px;
        padding: 0 10px;
        border-radius: 8px;
        height: 32px;
        font-size: 14px;
        font-weight: 500;

        .android {
          @include icon("android", $white, 16px);

          margin-right: 5px;
        }
      }
    }

    .headContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px 0;

      .info {
        font-size: 16px;
        font-weight: 500;
        margin-right: 30px;

        .done {
          color: $success;
        }
        .notDone {
          color: $error;
        }

        color: $lightGray;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;

        .button {
          padding: 0 16px;
          border-radius: 12px;
          height: 44px;
          font-size: 18px;
          font-weight: 500;

          &:not(:first-child) {
            margin-left: 10px;
          }

          .add,
          .upload,
          .download {
            margin-right: 5px;
          }

          .add {
            @include icon("plus", $white, 24px);
          }
          .upload {
            @include icon("upload", $white, 24px);
          }
          .download {
            @include icon("outputFile", $white, 24px);
          }
        }
      }

      .search {
        width: 50%;
      }

      .dropdown {
        margin-left: auto;
      }

      .total {
        font-size: 16px;
        font-weight: 500;
        margin-left: auto;
        color: $white50;
      }
    }
  }

  width: 60%;
  @media (max-width: 1220px) {
    width: 80%;
  }
  @media (max-width: 960px) {
    width: 90%;
  }
  @media (max-width: 840px) {
    width: 90%;

    .todoHead {
      .headContainer {
        flex-wrap: wrap;

        .buttons {
          width: 100%;
          margin-top: 10px;
        }

        .search {
          width: 45%;
        }

        .dropdown {
          margin-left: auto;
          margin-right: 15px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .todoHead {
      .headContainer {
        .buttons {
          .button {
            width: 100%;

            &:not(:first-child) {
              margin-left: 0;
              margin-top: 10px;
            }
          }
        }

        .search {
          width: 100%;
        }

        .dropdown {
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
        }
      }
    }
  }
}
