html {
  font-family: sans-serif;
  width: 100%;
  overflow-y: scroll;
  background-color: #09090c;
  color: white;
}

body {
  width: 100%;
  margin: 0;
}

#__next {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff33;
  border: #09090c solid 4px;
  border-radius: 8px;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
textarea {
  font-family: unset;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  color: unset;
  background: unset;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
